*{

    padding: 0;

    margin: 0;

}



/* FONTS START */



@font-face{

    font-family: 'Monserrat-light';

    src: url('../fonts/Montserrat-Light.ttf');

}



@font-face{

    font-family: 'Monserrat-regular';

    src: url('../fonts/Montserrat-Regular.ttf');

}



@font-face{

    font-family: 'Monserrat-bold';

    src: url('../fonts/Montserrat-Bold.ttf');

}



@font-face{

    font-family: 'Monserrat-extralight';

    src: url('../fonts/Montserrat-ExtraLight.ttf');

}



/* FONTS END */



:root{

    --font-family-light:'Monserrat-light';

    --font-family-bold:'Monserrat-bold';

    --font-family-extralight:'Monserrat-extralight';

    --font-family-regular:'Monserrat-regular';



    --main-red-color:#DD1E15;

    --main-white-color:#fff;

    --main-black-color:#000;

    --main-gray-color:#9A9A9A;

    --main-yellow-color:#C89B08;



    --main-font-size-titles:38px;

    --main-font-size-smallTitles:22px;

    --main-font-size-middleTitles:28px;

    --main-font-size-verySmallTitles:16px;

    --main-font-size-paragraphs:25px;

    --main-font-size-smallParagraphs:15px;



    --main-width-eventos-container:300px;

    --main-height-eventos-image:200px;

    --main-width-button:280px;

    --secondary-width-button:380px;

    --main-height-button:100px;



}



h2,h3,h4,h5,p,a{

    font-weight: normal;

}



ul{

    list-style: none;

}



/* HEADER SECTION */

.menu-container{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    align-items: center;

    justify-content: space-between;

    width: 70%;

    margin: auto;

    padding: 3rem 0 3rem 0;

}



.menu-container img{

    display: block;

    width: 250px;

}



.menu{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    list-style: none;

    align-items: center;

}



.menu li{

    margin: 0 2em 0 2em;

}



.menu li a{

    text-decoration: none;

    color: #000;

    font-family: var(--font-family-bold);

    transition: .5s;

}



.menu li a:hover{

    color: var(--main-red-color);

}



/* HEADER SECTION END */



/* TIMER AND INFO SECTION */

.timer-container{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    width: 80%;

    margin: 4rem auto 4rem auto;

}



.timerimg-mask{

    width: 50%;

    overflow: hidden;

}



.timerimg-mask img{

    object-fit: cover;

    object-position: center;

    width: 100%;

    height: 100%;

}



#timing{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

}



.timer-count-container span{

    border-right: 2px solid var(--main-white-color);

    padding: 0 1em 0 1em;

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    align-items: center;

}



.timer-count-container i{

    font-size: 2em;

    margin: .3em;

    font-style: normal;

}



.timer-count-container h2{

    margin-bottom: .5em;

}



.timer-count-container span:last-child{

    border:none;

}



.timer-count-container{

    background-color: var(--main-red-color);

    width: 50%;

    float: right;

    padding: 2rem;

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

}



.timer-count-container h2, .timer-count-container{

    color: var(--main-white-color);

    font-family: var(--font-family-bold);

    text-align: center;

}



.timer-count-container h2{

    font-size: var(--main-font-size-middleTitles);

}



.timer-count-container p{

    font-size: var(--main-font-size-middleTitles);

}



.heroimage-mask{

    width: 100%;

    /*height: 600px;*/

    display: block;

    overflow: hidden;

}



.heroimage-mask img{

    width: 100%;

}

.heroimage-mask p{

    font-size: var(--main-font-size-paragraphs);

    font-family: var(--font-family-light);

    color: var(--main-black-color);

    text-align: center;

    margin: 1em 20px 0 20px;

}






#user-button{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    align-items:center;

    background-color: var(--main-red-color);

    padding: .7em 2em .7em 2em;

    border-radius: 25px

}



#user-button a{

    color: var(--main-white-color);

    font-family: var(--font-family-regular);

}



#user-button img{

    width: 14px;

    margin-left: .5em;

    filter: invert();

}



.tickets-container{

    display: block;

    width: 100%;



}



.header-tickets{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

    position: relative;

    height: 450px;

}



.header-tickets img{

    display: block;

    margin: auto;

    width: 100%;

    position: absolute;

    z-index: 1;

    pointer-events: none;

}



.header-tickets h2, .header-tickets p{

    padding: .5em;

}



.header-tickets h2{

    text-align: center;

    color: var(--main-red-color);

    font-family: var(--font-family-bold);

    font-size: var(--main-font-size-titles);

}



.header-tickets p{

    text-align: center;

    font-family: var(--font-family-light);

    font-size: var(--main-font-size-paragraphs);

}



.header-tickets-info-container{

    display: block;

    position: relative;

    z-index: 3;

    width: 40%;

}



/* TIMER AND INFO SECTION END */



/* TITLE WITH BACKGROUND */



.titleWithBackground-container{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;



}



.info-titleWithBackground-container{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

    width: 100%;

    padding: 4rem 0 4rem 0;

    background-color: var(--main-red-color);

}



.info-titleWithBackground-container h2, .info-titleWithBackground-container p{

    padding: .2em;

}



.info-titleWithBackground-container h2{

    text-align: center;

    color: var(--main-white-color);

    font-family: var(--font-family-bold);

    font-size: var(--main-font-size-titles);

}



.info-titleWithBackground-container p{

    text-align: center;

    color: var(--main-white-color);

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-paragraphs);

}



/* TITLE WITH BACKGROUND END */



/* TICKETS SECTION */





.contain-titleWithBackground-container{

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    width: 90%;

    margin: 10rem auto 0 auto;

    justify-content: center;

    align-items: center;

}



.block-ticket{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    align-items: center;

    height: 450px;

    width: 350px;

    margin: 0 auto 0 auto;

}



.block-ticket img{

    width: 70%;

}



#price::before{

    content: "$";

    font-family: var(--font-family-bold);

}



#price{

    font-family: var(--font-family-bold);

    color: var(--main-red-color);

    font-size: var(--main-font-size-smallTitles);

    margin-top: 1em;

}



.block-ticket h2{

    font-family: var(--font-family-light);

    font-size: var(--main-font-size-smallTitles);

    margin: .7em 0 .7em 0;

}



.block-ticket ul{

    list-style: none;

    font-family: var(--font-family-regular);

}



.block-ticket ul li{

    text-align: center;

    margin: .4em;

    font-size: var(--main-font-size-paragraphs);

    font-family: var(--font-family-regular);

}



.button-tickets a{

    display: block;

    padding: 1em 2em 1em 2em;

    background-color: var(--main-yellow-color);

    text-decoration: none;

    color: var(--main-white-color);

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-middleTitles);

    border-radius: 25px;

    transition: .6s;

}



.button-tickets a:hover{

    background-color: var(--main-red-color);

}



/* TICKETS SECTION END */



/* EVENTOS SECTION */



.eventos-container{

    display: block;

    width: 90%;

    margin: 4rem auto auto auto;

}



.eventos-container h2{

    text-align: center;

    color: var(--main-red-color);

    font-size: var(--main-font-size-middleTitles);

    font-family: var(--font-family-bold);

}



.block-eventos{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    width: var(--main-width-eventos-container);

    margin: 4rem auto 4rem auto;

}



.blocks-evento-container{

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

}



.block-eventos h2{

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-smallTitles);

    color:var(--main-black-color);

}



.block-eventos p{

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-smallParagraphs);

    color: var(--main-gray-color);

    overflow-wrap: break-word;

    text-align: justify;

}



.eventosimg-mask{

    display: block;

    overflow: hidden;

    width: var(--main-width-eventos-container);

    height: var(--main-height-eventos-image);

    position: relative;

}



.eventosimg-mask img{

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: center;

    position: relative;

    z-index: 1;

}



.eventosimg-filter-container{

    position: absolute;

    z-index: 3;

    width: 100%;

    height: 100%;



}



.eventosimg-filter-container span{

    background-color: #000;

    width: 100%;

    height: 100%;

    z-index: 3;

    opacity: .5;

    position: absolute;

}



.eventosimg-filter-container p{

    position: absolute;

    color: #fff;

    z-index: 4;

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-smallParagraphs);

    margin: 1.2em;

    right: 0;

    pointer-events: none;

}



.eventos-info-container{

    display: block;

    width: 100%;

    margin: .7rem;

}



.eventos-info-container h2{

    text-align: start;

    font-family:var(--font-family-regular);

    font-size: var(--main-font-size-verySmallTitles);

    margin-bottom: .5em;

    margin-top: 1rem;

}



#black-paragraph{

    color: #000 !important;

}



.livestream-container{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    width: 100%;

    height: 400px;

    overflow: hidden;

    margin: 0;

}



.livestreamimg-mask{

    width: 50%;

    overflow: hidden;

    background-color: var(--main-black-color);

}

.livestreamimg-mask-video{

  width: 50%;

  overflow: hidden;

  background-color: var(--main-black-color);
}



.livestreamimg-mask img{

    object-position: center;

    object-fit: cover;

    width: 100%;

    height: 100%;

    opacity: .6;

}

.livestreamimg-mask-video iframe{

    object-position: center;

    object-fit: cover;

    width: 100%;

    height: 100%;

    opacity: .8;

}



.livestream-info-container{

    width: 50%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background-color: var(--main-black-color);

}



.livestream-info-container h2, .livestream-info-container p{

    margin: 1rem 0 1rem 0;

}



.livestream-info-container h2{

    font-family: var(--font-family-bold);

    color: var(--main-white-color);

    font-size: var(--main-font-size-middleTitles);

}



.livestream-info-container p{

    font-family: var(--font-family-regular);

    color: var(--main-white-color);

    font-size: var(--main-font-size-smallParagraphs);

    width: 60%;

    text-align: justify;

}



.livestream-info-container a{

    text-decoration: none;

    color: var(--main-white-color);

    background-color:var(--main-yellow-color);

    font-family: var(--font-family-bold);

    font-size: var(--main-font-size-smallTitles);

    padding: .7em 3em .7em 3em;

    border-radius: 25px;

    margin-top: 2rem;

    transition: .6s;

}



.livestream-info-container a:hover{

    background-color: var(--main-red-color);

    text-decoration: none;

    color: #fff;

}



/* EVENTOS SECTION END */





/* FEEDBACK SECTION */



.feedback-container{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    width: 70%;

    margin: auto;

}



.feedback-blocks-container{

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    margin-top: 4rem;

    margin-bottom: 4rem;

}



.feedback-container h2{

    text-align: center;

    color: var(--main-red-color);

    font-family: var(--font-family-bold);

    font-size: var(--main-font-size-middleTitles);

}



.feedback-block{

    flex-direction: column;

    flex-wrap: nowrap;

    margin: auto;

    width: 350px;

}



.feedback-block p{

    font-family: var(--main-font-size-smallParagraphs);

    color:var(--main-gray-color);

    font-size: var(--main-font-size-smallParagraphs);

}



#noimage-mockup{

    display: block;

    width: 150px;

    height: 50px;

    background-color: #000000;

}



.feedback-block p{

    font-family: var(--font-family-regular);

    color: var(--main-gray-color);

    font-size: var(--main-font-size-smallParagraphs);

    text-align: justify;

    margin-bottom: 2em;

}



.options-next{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

    width: 100%;

}



.options-next span{

    width: 10px;

    height: 10px;

    border: 1px solid var(--main-black-color);

    margin: 1em;

    cursor: pointer;

}



.picked{

    background-color: var(--main-black-color);

}



.feedback-blockgroup{

    display: none;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

    margin: auto;

    width: 100%;

}



/* FEEDBACK SECTION END */



/* FOOTER SECTION */



.footer-container{

    width: 100%;

    background-color: var(--main-yellow-color);

    padding: 5rem 0 5rem 0;

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    margin-top: 3rem;

    justify-content: space-between;

}

.footer-separator{
    width: 100%;
    height: 5px;
    background-color: var(--main-white-color);
    display: none;
    margin: .5em 0 1em 0;
}

.info-footer-container{

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    width: 70%;

    justify-content: center;


}

.info-footer-diana, .info-footer-renata{
    padding: 0 2em 0 2em;
}

.info-footer-container h2{
    font-size: var(--main-font-size-verySmallTitles);
    color: #fff;
    font-family: var(--font-family-bold);
    margin-top: 0;
}

.info-footer-container p{

    font-size: var(--main-font-size-verySmallTitles);
    font-family: var(--font-family-regular);
    color: #fff;

}






.social-footer-container{

    display: flex;

    justify-content: center;

    align-items: center;

    width: 30%;

}



.social-footer-container ul{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

}



.social-footer-container ul li{

    padding: 1em;

}



.social-footer-container ul li img{

    filter: invert();

    width: 50px;

    transition: .5s;

}



.social-footer-container ul li img:hover{

    transform: scale(1.2);

}



.copyright-container{

    display: block;

    background-color: var(--main-white-color);

    padding: 3rem 0 3rem 0;

}



.copyright-container p{

    text-align: center;

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-verySmallTitles);

    color: var(--main-black-color);

}



/* FOOTER SECTION END */



/* MOBILE MENU */



    .mobile-menu-container{

        display: none;

    }



    #hamburger-icon img{

        width: 70px;

        margin: 2rem;

        position: relative;

        z-index:5;

    }



    .mobile-menu-options{

        position: absolute;

        width: 100%;

        transform: translateX(-100%);

        transition: .6s;

        z-index: 3;

    }



    .mobile-menu-options-show{

        transform: translateX(0px) !important;

    }



    .mobile-menu-options ul{

        display: flex;

        flex-direction: column;

        flex-wrap: nowrap;

        background-color: rgba(200, 155, 8, .8);

        width: 100%;

        justify-content: center;

        align-items: center;

    }



    .mobile-menu-options ul li{

        padding: 2em 0 2em 0;

        border-bottom: 1px solid var(--main-white-color);

        width: 30%;

        display: flex;

        justify-content: center;

        align-items: center;

    }



    .mobile-menu-options ul li:nth-child(1){

        margin-top: 3em;

    }



    .mobile-menu-options ul li:last-child{

        margin-bottom: 3em;

        border:none;

    }



    .mobile-menu-options ul li a{

        text-decoration: none;

        color: var(--main-white-color);

        font-family: var(--font-family-regular);

        font-size: var(--main-font-size-smallTitles);

        text-align: center;

    }



    #user-button-mobile{

        display: flex;

        flex-direction: row;

        flex-wrap: nowrap;

        align-items: center;

    }



    #user-button-mobile img{

        width: 20px;

        filter: invert();

        margin-left: .5em;

    }





/* MOBILE MENU END */



.welcome-container{

    display: flex;

    flex-direction: column;

    flex-wrap: nowrap;

    margin:10rem 0 10rem 0;

    width: 95%;

    margin: auto;

}



.welcome-container h2{

    text-align: center;

    font-size: var(--main-font-size-titles);

    color: var(--main-red-color);

    font-family: var(--font-family-bold);

}



.welcome-container p{

    font-size: var(--main-font-size-smallParagraphs);

    font-family: var(--font-family-light);

    color: var(--main-black-color);

    text-align: justify;

    margin: 1em auto 0 auto;

}



.welcome-container img{

    display:block;

    margin: 3em auto 0 auto;


}

.info-welcome-container p{
    width: 50%;
}



/* API */



.absolute-button{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;

    margin-bottom: 20rem;

}

.absolute-button1{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    justify-content: center;

    align-items: center;


}



.api-container{

    cursor: pointer;

}



#mascara{

    pointer-events: none;

    cursor: pointer;

    position: absolute;

    z-index: 2;

    background-color: var(--main-yellow-color);

    color: var(--main-white-color);

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-middleTitles);

    border-radius: 25px;

    text-decoration: none;

    width: var(--main-width-button);

    height: var(--main-height-button);

    display: flex;

    text-align: center;

    justify-content: center;

    align-items: center;

    transition: .6s;

}


#mascara1{

    pointer-events: none;

    cursor: pointer;

    position: absolute;

    z-index: 2;

    background-color: var(--main-yellow-color);

    color: var(--main-white-color);

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-middleTitles);

    border-radius: 25px;

    text-decoration: none;

    width: var(--secondary-width-button);

    height: var(--main-height-button);

    display: flex;

    text-align: center;

    justify-content: center;

    align-items: center;

    transition: .6s;

}




#afrus-container-form button{

    background: none !important;

    font-size: 0px !important;

    z-index: 3;

    width: var(--main-width-button) !important;

    height: var(--main-height-button) !important;

    cursor: pointer;

}



.small-text{
    font-size: var(--main-font-size-smallParagraphs) !important;
}

/* API END */


.fotos-fundacion-container{
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;

  width: 75%;

  margin: auto;
}

.mascara-imagen{
  width: var(--main-width-eventos-container);
  height: var(--main-width-eventos-container);;
  overflow: hidden;
}

.mascara-imagen img{
  display:block;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

/* Ajustes OCT-28 */

.texto-desc-ama{


    font-family: var(--font-family-light);
    font-size: var(--main-font-size-middleTitles);
    color: var(--main-yellow-color);
    font-weight: bold;
    text-align: center;
    margin: 3em auto 0 auto;
    width: 70%;

}


.patrocinadores-container{
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  justify-content: space-between;

  align-items: center;

  width: 55%;

  margin: 10px auto auto auto;
}

.patrocinadores-imagen{
  width: 200px;
  height: 220px;
  overflow: hidden;
}

.patrocinadores-imagen1{
  width: 150px;
  overflow: hidden;
}

.patrocinadores-imagen img{
  display:block;
  object-fit: cover;
  width: 100%;
  object-position: center;
  margin: 5px 10px auto 10px;
}

.patrocinadores-imagen1 img{
  display:block;
  object-fit: cover;
  width: 100%;
  object-position: center;
  margin: 5px 10px auto 10px;
}

.patrocinadores-tittle{

    text-align: center;

    font-size: var(--main-font-size-titles);

    color: var(--main-red-color);

    font-family: var(--font-family-bold);
    margin-bottom: 25px;
}

.box-premium-container{

    display: flex;

    flex-direction: row;

    flex-wrap: nowrap;

    width: 80%;

    height: 500px;

    overflow: visible;

    margin: auto;

}



.box-premium-img-mask{

    width: 50%;



}



.box-premium-img-mask img{

    object-position: center;

    object-fit: contain;

    width: 100%;

    height: 100%;



}

.box-premium-img-mask p{

    object-position: center;

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-paragraphs);

    width: 100%;

    text-align: center;




}




.box-premium-info-container{

    width: 50%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}



.box-premium-info-container h2, .box-premium-info-container p{

    margin: 1rem 0 1rem 0;

}



.box-premium-info-container h2{

    font-family: var(--font-family-bold);

    color: var(--main-red-color);

    font-size: var(--main-font-size-titles);

}
.box-premium-info-container ul{

    list-style-type:  disc;

}

.box-premium-info-container li{

    font-family: var(--font-family-regular);

    font-size: var(--main-font-size-paragraphs);

    width: 100%;

    text-align: justify;

}




/*END Ajustes OCT-28 */






/* LOGIN COMPRADOR */

.login-comprador-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10rem auto 15rem auto;
}

.login-comprador-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-comprador-container form h2{
    font-family: var(--font-family-bold);
    font-size: var(--main-font-size-middleTitles);
}

.login-comprador-container form p, .login-comprador-container form label{
    font-family: var(--font-family-regular);
    font-size: var(--main-font-size-verySmallTitles);
    text-align: center;
}

.login-comprador-container form input{
    width: 100%;
    padding: .6em;
    font-size: var(--main-font-size-verySmallTitles);
    font-family: var(--font-family-regular);
}

.login-comprador-container form input[type="submit"]{
    border: none;
    background-color: var(--main-red-color);
    color: var(--main-white-color);
}

.inputs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin: 2em 0 2em 0;
}

.inputs-container-one input{
    margin: .9em 0 .9em 0;
}

/* END LOGIN COMPRADOR */

/* FINALIZAR REGISTRO */

.confirmacion_registro-container{
  display: flex;

  flex-direction: column;

  flex-wrap: nowrap;

  width: 50%;

  overflow: visible;

  margin: auto;

  align-items: center;
}

.confirmacion_registro-container img{
  object-position: center;

  object-fit: contain;

  width: 100%;

}

.confirmacion_registro-container h1{
  font-size: var(--main-font-size-middleTitles);
  margin-top: 0px;
}

.confirmacion_registro-container br{
  margin-top: 20px;
}

.confirmacion_registro-container p{
  font-family: var(--font-family-regular);

  font-size: var(--main-font-size-smallParagraphs);

  text-align: center;

  margin: auto;
  width: 50%;
}



/*END FINALIZAR REGISTRO */


/* ESTILOS 17 NOV 2020 */

.title-container{
   width: 60%;
   display: block;
   margin: 4em auto 4em auto;
}

.title-container h2{
    font-family: var(--font-family-bold);
    font-size: var(--main-font-size-titles);
    color: var(--main-red-color);
    text-align: center;
}

.title-container p{
    font-family: var(--font-family-light);
    font-size: var(--main-font-size-paragraphs);
    color: var(--main-black-color);
    text-align: center;
}
